@import "../../App.module.scss";

.Container {
    width: 800px;
    height: auto;
    position: relative;
    top: 110px;
    left: 537px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;


    .Produtos {
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 5em;

        .Card {
            width: 195.25px;
            height: 424px;
            gap: .5em;

            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .Card__Name {
            font-size: 14px;
            font-weight: 400;
            color: $Cor-Preto;
        }

        .Card__Valor {
            font-size: 16px;
            font-weight: 700;
            color: $Cor-Preto;
        }

        .Card__Parcela {
            font-size: 16px;
            font-weight: 400;
            color: $Cor-Cinza-Parcela;
        }

        .btn {
            width: 195px;
            height: 33px;
            gap: 10px;
            cursor: pointer;
            color: $Cor-Branco;
            background-color: $Cor-Preto;
            border: none;
        }

        .btn:hover {
            background-color: $Cor-Preto-Hover;
        }
    }

    .btn__CarregarMais {
        width: 195px;
        height: 33px;
        gap: 10px;
        cursor: pointer;
        color: $Cor-Branco;
        background-color: $Cor-Principal;
        border: none;
        z-index: 2;
    }
}


@media (max-width: 1024px) {

    .Container {
        width: 600px;
        left: 337px;
    }
}


@media (max-width: 768px) {

    .Container {
        position: relative;
        top: 180px;
        left: 0;
        margin: auto;    
    }
}

@media (max-width: 375px){
    .Container{
        width: 389px;
        .Produtos{
            gap: 3px;
        }
    }
}