@import "../../App.module.scss";

.filtrar_E_Ordenar {
    position: relative;

    h1 {
        position: absolute;
        left: 160px;
        top: 80px;
        color: #333;
        font-family: 'Open Sans';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .Filtro {
        width: 240px;
        height: 544px;
        position: absolute;
        left: 160px;
        top: 160px;
        background-color: antiquewhite;

        .categoria_Cores {
            display: flex;
            flex-direction: column;
        }

        .categoria_Tamanho {
            width: 200px;
            height: auto;
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 8px;


            .bloco_tamanho {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $Cor-Preto;


            }

            .bloco_tamanho:active {
                border-color: $Cor-Principal;
            }
        }

    }

    .ordernar {
        position: absolute;
        right: 162px;
        top: 85px;

        .opc {
            width: 142px;
            height: 42px;
            border: 1px solid $Cor-Divisoria;
        }
    }

    .btnFiltro_Ordenar {
        display: none;
    }


}

@media (max-width: 1024px) {
    .filtrar_E_Ordenar {

        .Filtro,
        h1 {
            left: 60px;
        }
    }
}

@media (max-width: 768px) {
    .filtrar_E_Ordenar {
        h1 {
            left: 45%;
        }

        .Filtro {
            display: none;
        }

        .ordernar {
            display: none;
        }

        .btnFiltro_Ordenar {
            position: absolute;
            top: 150px;
            left: 11%;

            background-color: antiquewhite;

            button {
                width: 300px;
                height: 49px;
                border: 1px solid $Cor-Preto;
                background-color: $Cor-Branco;
                color: $Cor-Preto;
                font-size: 24px;
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 375px) {
    .filtrar_E_Ordenar {
        h1 {
            left: 40%;
        }

        .btnFiltro_Ordenar {
            display: flex;
            justify-content: center;
            align-items: center;           

            button {
                width: 150px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}