@import "../../App.module.scss";

.rodape{
    width: 100%;
    height: 33px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: -200px;
    color: $Cor-Branco;
    background-color: $Cor-Preto;
}