*{
    margin: 0;
    padding: 0;
}


$Cor-Preta: #000000 ;
$Cor-Branca: #fff;

.rodape{
    width: 98.9vw;
    height: 33px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: -200px;
    color: $Cor-Branca;
    background-color: $Cor-Preta;
}